#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color:;
}

body {
  background-color:;
}

header {
  background-color:;
}

nav a:hover {
  background-color: white;
}
.book,
.join {
  background-color: #396e94;
}

.book:hover,
.join:hover {
  background-color: white;
}

.msg {
  background-color:;
}

footer {
  background-color:;
}
